.bord{
    margin: 20px;
    border: 4px solid #0083b0;
}
.cardImage{
    width: 100%;
    height:40%;
    object-fit: cover;
}
.font-14{
    font-size: 14px;
}
.font-12{
    font-size: 12px;
}
.standardWidth{
    width: 18rem;
}