.authBackground{
    background-image: url("../assets/alesia-kazantceva-VWcPlbHglYc-unsplash\ \(1\).jpg");
    background-size: cover;
    background-position: top right;
    background-repeat: none;

    width: 100vw;
    height: 100vh;
}
.fitcontent{
    height: fit-content;
}